body {
    text-align: center;
    background-color: #f8f9fa; /* Светлый фон для страницы */
    position: relative; /* Для абсолютного позиционирования наложенного изображения */
    overflow: hidden; /* Скрыть все, что выходит за пределы body */
}
.welcome-image {
    position: absolute; /* Абсолютное позиционирование */
    top: auto; /* От верхней части */
    left: 0; /* От левой части */
    width: 100%; /* На всю ширину экрана */
    height: auto; /* Сохранение пропорций */
    z-index: 1; /* Низкий z-index, чтобы текст был сверху */
}
.welcome-text {
    font-size: 1.5em; /* Увеличенный размер шрифта */
    margin-top: 20px; /* Отступ сверху для текста */
    position: relative; /* Относительное позиционирование для наложения */
    z-index: 2; /* Более высокий z-index, чтобы текст был сверху изображения */
}