.my-book-info-page-div {
    min-height: 100vh;
}

.my-review-card-header {
    background: #E7E7E7;
    border-width: 0;
    font-size: 24px;
    font-weight: bold;
}

.my-review-card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-width: 0;
}

.my-review-card-title {
    font-size: 20px;
    font-weight: bold;
}

span {
    font-weight: normal;
}

.my-review-card-text {
    font-size: 20px;
    font-style: italic;
}

.my-alert {
    font-size: 20px;
    font-weight: bold;
}