.my-pagination-btns {
    border-width: 0;
    background: white;
    color: #771111;
    font-size: 20px;
}

.my-pagination-btns:hover {
    background: #771111;
    color: white;
}

.my-pagination {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}