.my-catalog-btn {
    background: #771111;
    border-color: #771111;
    font-size: 20px;
}

.my-catalog-btn:hover {
    background: white;
    border-color: #771111;
    color: #771111;
}

.my-reservation-card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-width: 0;
    border-radius: 5px;
}

.my-reservation-card-header {
    background: #E7E7E7;
    border-width: 0;
    font-size: 24px;
    font-weight: bold;
}

.my-reservation-card-title {
    font-size: 20px;
}

.my-alert {
    font-size: 20px;
    font-weight: bold;
}