<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление новой книги</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/addBook.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 class="text-center">Добавить новую книгу</h2>
    <div id="message" class="alert d-none" role="alert"></div>
    <form id="addBookForm">
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Введите название книги"
                   required>
        </div>
        <div class="form-group">
            <label for="author">Автор</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Введите имя автора" required>
        </div>
        <div class="form-group">
            <label for="publisher">Издательство</label>
            <input type="text" class="form-control" id="publisher" name="publisher"
                   placeholder="Введите название издательства" required>
        </div>
        <div class="form-group">
            <label for="copies_number">Число экземпляров</label>
            <input type="number" class="form-control" id="copies_number" name="copies_number"
                   placeholder="Введите количество экземпляров" required min="1">
        </div>
        <div class="form-group">
            <label for="rarity">Редкость</label>
            <select class="form-control" id="rarity" name="rarity" required>
                <option value="">Выберите редкость</option>
                <option value="Обычная">Обычная</option>
                <option value="Редкая">Редкая</option>
                <option value="Уникальная">Уникальная</option>
            </select>
        </div>
        <div class="form-group">
            <label for="genre">Жанр</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Введите жанр книги" required>
        </div>
        <div class="form-group">
            <label for="publishing_year">Год издания</label>
            <input type="number" class="form-control" id="publishing_year" name="publishing_year"
                   placeholder="Введите год издания" required min="1900" max="2100">
        </div>
        <div class="form-group">
            <label for="language">Язык</label>
            <input type="text" class="form-control" id="language" name="language" placeholder="Введите язык книги"
                   required>
        </div>
        <div class="form-group">
            <label for="age_limit">Цензура (возрастное ограничение)</label>
            <select class="form-control" id="age_limit">
                <option value="">Цензура</option>
                <option value="0">0+</option>
                <option value="6">6+</option>
                <option value="12">12+</option>
                <option value="16">16+</option>
                <option value="18">18+</option>
                <option value="21">21+</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block" id="addNewBook">Добавить книгу</button>
        <div class="footer-link">
            <p>Вернуться к списку книг? <a href="catalog.html">Посмотреть книги</a>.</p>
        </div>
    </form>
</div>

<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="../js/addBook.js" type="module"></script>

</body>
</html>