<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление нового отзыва</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/addBook.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 class="text-center">Добавить новый отзыв</h2>
    <div id="message" class="alert d-none" role="alert"></div>
    <form id="reviewForm">
        <div class="form-group">
            <label for="title">Отзыв</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Введите название книги"
                   required>
        </div>
        <div class="form-group">
            <label for="rating">Оценка</label>
            <input type="number" class="form-control" id="rating" name="rating"
                   placeholder="Введите оценку от 1 до 5" required min="1" max="5">
        </div>

        <button type="submit" class="btn btn-primary btn-block" id="addNewRating">Добавить отзыв</button>
        <div class="footer-link">
            <p>Вернуться к книге? <a href="book.html">Посмотреть книгу</a>.</p>
        </div>
    </form>
</div>

<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="../js/addRating.js" type="module"></script>

</body>
</html>