<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подробности о книге</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/book.css">
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4 text-center">Информация о книге</h1>

    <div id="book-container" class="card shadow-lg">
        <div class="card-body">
            <div id="message" class="alert d-none" role="alert"></div>
            <div id="empty-book"></div>
            <h5 class="card-title" id="book-title">Название книги</h5>
            <h6 class="card-subtitle mb-2 text-muted" id="book-author">Автор книги</h6>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Издатель:</strong> <span id="book-publisher"></span></li>
                <li class="list-group-item"><strong>Количество копий:</strong> <span id="book-copies-number"></span>
                </li>
                <li class="list-group-item"><strong>Редкость:</strong> <span id="book-rarity"></span></li>
                <li class="list-group-item"><strong>Жанр:</strong> <span id="book-genre"></span></li>
                <li class="list-group-item"><strong>Год издания:</strong> <span id="book-publishing-year"></span></li>
                <li class="list-group-item"><strong>Язык:</strong> <span id="book-language"></span></li>
                <li class="list-group-item"><strong>Возрастное ограничение:</strong> <span id="book-age-limit"></span>
                </li>
                <li class="list-group-item"><strong>Средний рейтинг:</strong> <span id="book-avg-rating"></span>
                </li>
            </ul>

            <div class="btn-container" id="book-btn">
                <a href="catalog.html" class="btn btn-primary mt-3"><i class="fas fa-arrow-left"></i> Назад к
                    каталогу</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="../js/book.js" type="module"></script>

</body>
</html>
