<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Читательский билет</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../css/libCard.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4 text-center">Информация о читательском билете</h1>
    <div id="lib-card-container" class="card shadow-lg">
        <div class="card-body">
            <div id="message" class="alert d-none" role="alert"></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Номер:</strong> <span id="lib-card-number"></span></li>
                <li class="list-group-item"><strong>Срок действия:</strong> <span id="lib-card-validity"></span></li>
                <li class="list-group-item"><strong>Дата выдачи:</strong>
                    <time id="lib-card-issue-date" datetime="2023-08-11"></time>
                </li>
                <li class="list-group-item"><strong>Статус действия:</strong> <span id="lib-card-action-status"></span>
                </li>
            </ul>

            <div class="btn-container" id="lib-card-btn">
                <a href="profile.html" class="btn btn-primary mt-3">
                    <i class="fas fa-arrow-left"></i> Назад к профилю
                </a>
            </div>
        </div>
    </div>
    <div id="no-card-container" class="card shadow-lg d-none">
        <div class="card-body">
            <h5 class="card-title text-center">У вас еще нет читательского билета. Не желаете создать
                его?</h5>
            <div id="message2" class="alert d-none" role="alert"></div>

            <form>
                <button type="submit" class="btn btn-primary btn-block" id="create-lib-card-btn">Создать</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="../js/libCard.js" type="module"></script>

</body>
</html>
