<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма регистрации</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/register.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <h2 class="text-center">Регистрация</h2>
    <div id="message" class="alert d-none" role="alert"></div>
    <form id="registrationForm">
        <div class="form-group">
            <label for="fio">ФИО</label>
            <input type="text" class="form-control" id="fio" name="fio" placeholder="Введите ваше ФИО" required>
        </div>
        <div class="form-group">
            <label for="age">Возраст</label>
            <input type="number" class="form-control" id="age" name="age" placeholder="Введите ваш возраст" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Номер телефона</label>
            <input type="tel" class="form-control" id="phone_number" name="phone_number"
                   placeholder="Введите номер телефона" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль"
                   required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
        <div class="footer-link">
            <p>Уже зарегистрированы? <a href="login.html">Войдите в систему</a>.</p>
        </div>
    </form>
</div>

<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="../js/register.js" type="module"></script>

</body>
</html>
